.image-section
{
    display: flex;
}

img
{
    max-width: 100%;
    height: auto;
}
h2
{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
figure
{
    display: inline;
}

figcaption
{
    text-align: center;
}